<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-danger" *ngIf="fbservis.aktifUye.admin==0">Bu Bölüme Girmeye Yetkiniz Yoktur!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Üyeler</h3>
            <hr />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-success" (click)="Ekle(modalEkleDuzenle)">Üye Ekle</button>
        </div>
    </div>
    <div class="row" *ngIf="fbservis.aktifUye.admin==1">
        <div class="col-12">
            <table class="table table-bordered table-stripped rounde table-hover mt-3 h75px">
                <thead class="bg-dark">
                    <th>ID</th>
                    <th>AD SOYAD</th>
                    <th>E-POSTA</th>
                    <th>YÖNETİCİ</th>
                    <th>KAYIT TARİHİ</th>
                    <th>DÜZENLEME TARİHİ</th>
                    <th>DÜZENLE</th>
                    <th>SİL</th>
                </thead>
                <tbody>
                    <tr *ngFor="let uye of uyeler">
                        <td>{{uye.id}}</td>
                        <td>{{uye.adsoyad}}</td>
                        <td>{{uye.mail}}</td>
                        <td>
                            <span *ngIf="uye.admin==1" class="d-block text-center alert alert-success p-1">Evet</span>
                            <span *ngIf="uye.admin==0" class="d-block text-center alert alert-danger p-1">Hayır</span>
                        </td>
                        <td>{{uye.kaytarih | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td>{{uye.duztarih | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td><button class="btn btn-sm btn-outline-warning w-100 text-black" (click)="Duzenle(uye, modalEkleDuzenle)">Ekle</button></td>
                        <td><button class="btn btn-sm btn-outline-danger w-100 text-black" (click)="Sil(uye,modalSil)">Sil</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" #modalEkleDuzenle>
    <div class="modal-dialog">
        <form [formGroup]="frm" (ngSubmit)="UyeEkleDuzenle">
            <div class="modal-content">
                <div class="modal-header bg-warning text-black">
                    <h5 class="modal-title">{{modalBaslik}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-3">
                        <label>Üye Adı Soyadı</label>
                        <input type="text" class="form-control" formControlName="adsoyad" placeholder="Üye Adı Soyadı Giriniz">
                    </div>
                    <div class="form-group m-3">
                        <label>Üye E-Posta</label>
                        <input type="email" class="form-control" formControlName="mail" placeholder="Mail Adresi Giriniz">
                    </div>
                    <div class="form-group m-3">
                        <label>Parola</label>
                        <input type="text" class="form-control" formControlName="parola" placeholder="Parola Giriniz" required>
                    </div>
                    <div class="form-group m-3">
                        <label>Yönetici mi?</label>
                        <select class="form-select" formControlName="admin" required>
                            <option value="1">Evet</option>
                            <option value="0">Hayır</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" formControlName="id">
                        <input type="hidden" class="form-control" formControlName="kaytarih">
                        <input type="hidden" class="form-control" formControlName="duztarih">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-sm btn-success" value="Kaydet">
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">İptal</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">{{modalBaslik}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 *ngIf="secUye">{{secUye.adsoyad}} adlı Üye Silinecektir. Onaylıyor musunuz?</h6>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" *ngIf="secUye" (click)="(UyeSil)">Sil</button>
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>